* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color:rgb(255,255,255)
}
.project-box {
    display: grid;
    place-items: center;
    height: 100%;
    width: 90%;
    border: 1px solid #333;
    border-radius: 20px;
    margin: 1rem;
}
.carousel-box {
    border-radius: 20px;
}
.button {
    background-color: #3e7afc; /* Bluen */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.imageButton {
    width: 114px;
    height: 114px;
    border-radius: 29px;
}
.imageShadow:hover {
    box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.24)
}
h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
li a:hover {
    background-color: #111;
}
li a:active {
    background-color: #3e7afc;
}
img {
    width: 100%;
    /* max-width:100%; */
}
.active {
    background-color: #3e7afc;
}
.flex-container {
    position: relative;
    display: flex;
    max-width: 933px;
    max-height: 311px;
    flex-wrap: nowrap;
    background-color:rgb(97, 197, 255);
    z-index:1;
    /* border: 1px solid rgb(192, 42, 160) */
}
.flex-container > div {
    display: flex;
    width:311px;
    height:100%;
    /* background-color: rgb(4, 11, 17); */
}
.fill {
    color:rgb(97, 197, 255);
    /* border: 1px solid green */
    /* object-fit:fill; */
}
.cover {
    object-fit:cover;
}
.container-gallery {
    /* border: 10px solid black; */
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: center;
    max-width: 933px;;
}
.container-section {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 10px solid red; */
}
.container-gutter {
    display: flex;
    /* background-color: #eee; */
    /* border: 1px solid blue; */
    max-width: 1200px;
    width: 100%;
    height: auto;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
}
#gallery {
    flex-direction: row;
}
/* Media Query at 1020px */
.bg-black {
    background-color: black;
    color: white;
}
.bg-black h2 {
    color: white;
}
/* .center-gred {
    display: grid;
    place-items: center;
} */
.header-bg {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('../assets/img/mountain.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px;   
}
h1 {
    text-align: center;
    animation: type 3s steps(19);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    width: 19ch;
}
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 19ch;
    }
}